body {
	font-family: helvetica, verdana, sans-serif;
	max-width: 800px;
	font-size: 14px;
	margin: auto;
	line-height: 1.4;
	color: #B0C4DE;
	background: #808080;
}

#header {
	font-family: helvetica, verdana, sans-serif;
	margin: auto;
}

#gallery {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#gallery img {
	margin: 5px;
}

img {
	max-width: 150px;
	max-height: 150px;
}
	

.strona {
	text-align: left;
	margin: auto;
}

.wpisy {
	text-align: left;
}